* {
    font-family: 'Inter';
}

.main-content h1 {
    font-size: 71px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}