* {
    font-family: 'Inter';
}

/*********************Login-CSS************************/

.login-header {
    display: flex;
    justify-content: space-between;
}

.login-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.login-nav p {
    font-size: 24px;
}

/*********************Login-CSS************************/