<!-- INSERT THIS CODE VIA W3C INCLUDE -->

<div class="addTask-header">
    <h1>Add Task</h1>
    <img id="addTask-close-button" src="./img/Close.png" alt="close button"
        onclick="closeAddTaskOverlay(); return false">
</div>

<form action="">

    <div class="form-upper-half">
        <div class="form-column">
            <div class="form-column-child">
                <label>Title<p>*</p></label>
                <input required type="text" id="addTaskTitle" placeholder="Enter a Title">
            </div>
            <div class="form-column-child">
                <label>Description</label>
                <textarea name="" id="addTaskDescription" placeholder="Enter a Description"></textarea>
            </div>
            <div class="form-column-child">
                <label>Assigned to</label>
                <!-- <select multiple id="addTaskSelectContacts">
                    <option value="" disabled selected>Select contacts to assign</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                </select> -->
                <div class="form-input-with-img">
                    <input type="text" id="addTaskInputContacts" placeholder="Select contacts to assign">
                    <img src="../../img/dropdown_down.png" alt="">
                </div>
                <div class="form-list">
                    <ul id="addTaskListContacts" >
                        <!-- <li>
                            <div>AT</div>
                            <span>Axel Test</span>
                            <img src="../../img/remember-unchecked.png" alt="">
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-line bg-lightblue"></div>
        <div class="form-column">
            <div class="form-column-child">
                <label>Due date<p>*</p></label>
                <input required type="date" id="addTaskDueDate">
            </div>
            <div class="form-column-child">
                <label>Prio</label>
                <div class="form-prio">
                    <div class="form-prio-child grow" id="btn-prio-high" onclick="setPrio('high'); return false">
                        <span>Urgent</span>
                        <div class="form-prio-img prio-high" id="img-prio-high"></div>
                    </div>
                    <div class="form-prio-child grow" id="btn-prio-med" onclick="setPrio('med'); return false">
                        <span>Medium</span>
                        <div class="form-prio-img prio-med" id="img-prio-med"></div>
                    </div>
                    <div class="form-prio-child grow" id="btn-prio-low" onclick="setPrio('low'); return false">
                        <span>Low</span>
                        <div class="form-prio-img prio-low" id="img-prio-low"></div>
                    </div>
                </div>
            </div>
            <div class="form-column-child">
                <label>Category<p>*</p></label>
                <select required id="addTaskCategory">
                    <option value="" disabled selected>Select task category</option>
                    <option value="1">Development</option>
                    <option value="2">Design</option>
                    <option value="3">Sales</option>
                    <option value="4">Backoffice</option>
                    <option value="5">Media</option>
                    <option value="6">Marketing</option>
                </select>
            </div>
            <div class="form-column-child">
                <label>Subtasks</label>
                <div class="form-input-with-img">
                    <input type="text" id="" placeholder="Add new subtask">
                    <img src="img/add.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="form-lower-half">
        <label>
            <p>*</p>This field is required
        </label>
        <div class="form-buttons">
            <Button onclick="cancelAddTask(); return false">
                <p>Clear</p>
                <img src="img/Close.png" alt="">
            </Button>
            <Button onclick="addNewTask(); return false">
                <p>Create Task</p>
                <img src="img/check.png" alt="">
            </Button>
        </div>
    </div>

</form>