<!-- INSERT THIS CODE VIA W3C INCLUDE -->

<div class="addTask-header">
    <h1>Add Task</h1>
    <img class="addTask-close-button" src="./img/Close.png" alt="close button">
</div>

<form action="">

    <div class="form-upper-half">
        <div class="form-column">
            <div class="form-column-child">
                <label>Title<p>*</p></label>
                <input required type="text" id="addTaskTitle" placeholder="Enter a Title">
            </div>
            <div class="form-column-child">
                <label>Description</label>
                <textarea name="" id="" placeholder="Enter a Description"></textarea>
            </div>
            <div class="form-column-child">
                <label>Assigned to</label>
                <select>
                    <option value="" disabled selected>Select contacts to assign</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                </select>
            </div>
        </div>
        <div class="form-line bg-lightblue"></div>
        <div class="form-column">
            <div class="form-column-child">
                <label>Due date<p>*</p></label>
                <input required type="date" id="addTaskTitle">
            </div>
            <div class="form-column-child">
                <label>Prio</label>
                <div class="form-prio">
                    <div class="form-prio-child grow">
                        <span>Urgent</span>
                        <img src="img/icon-prio-high.png" alt="">
                    </div>
                    <div class="form-prio-child grow">
                        <span>Medium</span>
                        <img src="img/icon-prio-med.png" alt="">
                    </div>
                    <div class="form-prio-child grow">
                        <span>Low</span>
                        <img src="img/icon-prio-low.png" alt="">
                    </div>
                </div>
            </div>
            <div class="form-column-child">
                <label>Category<p>*</p></label>
                <select required>
                    <option value="" disabled selected>Select task category</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                </select>
            </div>
            <div class="form-column-child">
                <label>Subtasks</label>
                <div class="form-input-with-img">
                    <input type="text" id="" placeholder="Add new subtask">
                    <img src="img/add.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="form-lower-half">
        <label>
            <p>*</p>This field is required
        </label>
        <div class="form-buttons">
            <Button>
                <p>Clear</p>
                <img src="img/Close.png" alt="">
            </Button>
            <Button>
                <p>Create Task</p>
                <img src="img/check.png" alt="">
            </Button>
        </div>
    </div>

</form>