.text-lightblue {
    color: rgb(41, 171, 226);
}

.bg-lightblue {
    background-color: rgb(41, 171, 226);
}

.text-lightgrey {
    color: #D1D1D1;
}

.bg-lightgrey {
    background-color: #D1D1D1;
}
