.summary-body {
    background-color: rgb(246, 247, 248);
}

.summary-body h1 {
    font-size: 61px;
}

.summary-header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.summary-header-line {
    width: 3px;
    height: 59px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 3px;
}

.summary-header-line-res {
    width: 90px;
    height: 3px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 3px;
    display: none;
}

.summary-header span {
    font-size: 27px;
}

.summary-main-section {
    display: flex;
    gap: 80px;
    align-items: center;
}

.summary-main-dashboard {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.summary-main-dashboard-row {
    display: flex;
    gap: 32px;
    width: 560px;
    height: 168px;
}

.summary-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 19px 38px 19px 38px;
    background-color: white;
    border-radius: 30px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.summary-main-container img {
    width: 69px;
    height: 69px;
}

.summary-icon {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

#summary-icon-todo {
    background-image: url("../../img/icon-pencil.png");
}

#summary-icon-check {
    background-image: url("../../img/icon-check.png");
}

#summary-icon-urgent {
    background-image: url("../../img/icon-urgent.png");
    width: 60px;
    height: 60px;
}

.summary-main-container:hover {
    background-color: #2A3647;
    cursor: pointer;
    color: white;
}

.summary-main-container:hover #summary-icon-todo {
    background-image: url("../../img/icon-pencil-white.png");
    background-color: white;
}

.summary-main-container:hover #summary-icon-check {
    background-image: url("../../img/icon-check-white.png");
    background-color: white;
}

.summary-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.summary-kpi p {
    font-size: 64px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

.summary-kpi span {
    font-size: 20px;
}

.summary-main-line {
    width: 2px;
    height: 102px;
}

.summary-urgent-date p {
    font-weight: bold;
    font-size: 21px;
    margin-block-start: 0;
    margin-block-end: 8px;
}

.summary-urgent-date span {
    font-size: 16px;
}

.summary-main-hello {
    text-wrap: nowrap;
}

.summary-main-hello p {
    font-size: 47px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.summary-main-hello span {
    font-weight: bold;
    font-size: 64px;
    margin-block-start: 0;
}

@media(max-width: 1330px) {
    .summary-main-section {
        gap: 6%;
    }

    .summary-main-hello {
        text-wrap: wrap;
    }
}

@media(max-width: 1150px) {
    .summary-main-section {
        gap: 6%;
    }

    .summary-main-hello {
        display: none;
    }
}

@media(max-width: 850px) {
    .main-content {
        padding-left: 200px
    }
}

@media(max-width: 770px) {
    .main-content {
        padding: unset;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .summary-header {
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        width: 560px;
        align-items: flex-start;
    }

    .main-content h1 {
        font-size: 50px !important;
    }

    .summary-header-line {
        display: none;
    }

    .summary-header-line-res {
        display: unset;
    }

    .summary-header-line-res {
        margin-left:0px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

@media(max-width: 570px) {
    .summary-main-dashboard {
        gap: 10px;
    }

    .summary-main-dashboard-row {
        display: flex;
        gap: 10px;
        width: unset;
        height: unset;
    }

    .summary-main-container {
        justify-content: space-around;
        gap: unset;
        padding: 12px 28px;
        width: -webkit-fill-available;
    }

    .main-content {
        padding: 8px;
    }

    .summary-header {
        width: 100%;
    }

    .summary-kpi span {
        font-size: 14px;
    }

    .summary-kpi p {
        font-size: 30px;
    }

    .summary-icon {
        width: 69px;
        height: 69px;
        border-radius: 50%;
        background-repeat: no-repeat;
    }
}
